extends layout


block content
  .container-fluid
    .jumbotron
      .allboxes
        .leftbox
          .single
            .single__details.inner
              h2 #{title}
              p </br>this chat page is about to come by now and it will serve as a page where the Eritrean community can pure their idea's about the current situation of our country and how to get forward to overpass the hard time we r living on!! for me i belive people have the power to do everything and with the help of them by them for them we can secure the country and the need of the people soon!
