extends layout

block content
  .container-fluid
    .jumbotron
        h2 #{title}
        h4 Am disponible at any time and your comments are important for the improvement of this platform to go forward!!
        span Email: gigimay@hotmail.com
        p Tel: 0751243256
